#editPage form .main-editor, #writePage form .main-editor {
  font-family: consolas, 'SourceSansPro-Regular', sans-serif;
  font-style: italic;
  font-size: 18px; }
  #editPage form .main-editor h1, #editPage form .main-editor h2, #editPage form .main-editor h3, #editPage form .main-editor h4, #writePage form .main-editor h1, #writePage form .main-editor h2, #writePage form .main-editor h3, #writePage form .main-editor h4 {
    font-family: 'OpenSans-LightItalic', sans-serif; }
  #editPage form .main-editor strong, #writePage form .main-editor strong {
    font-family: 'SourceSansPro-Bold', sans-serif; }

#notebookPage .posts .post {
  font-family: consolas, 'SourceSansPro-Regular', sans-serif;
  font-style: italic;
  font-size: 18px; }
  #notebookPage .posts .post h1, #notebookPage .posts .post h2, #notebookPage .posts .post h3, #notebookPage .posts .post h4 {
    font-family: 'OpenSans-LightItalic', sans-serif; }
  #notebookPage .posts .post strong {
    font-family: 'SourceSansPro-Bold', sans-serif; }
  #notebookPage .posts .post .date {
    font-size: 14px; }
  #notebookPage .posts .post .time {
    font-size: 14px; }
