html, body {
  background-color: #1c1925;
  color: #fafafa; }

header {
  background: #1c1925; }
  header .name {
    background: #65727b;
    color: #fafafa; }
    header .name.athome {
      background: #1c1925;
      color: #fafafa; }

#main-icons .icon {
  background: #338fff;
  color: #ffffff; }
  #main-icons .icon:hover {
    background: #272431; }

#sidebar {
  background: #272431; }
  #sidebar button {
    color: #fafafa; }
    #sidebar button:hover {
      color: #338fff; }

#notebookPage .column-1 {
  background: #65727b; }

#notebookPage .column-1::-webkit-scrollbar {
  background-color: #1c1925; }

#notebookPage .column-1::-webkit-scrollbar-thumb {
  background-color: rgba(250, 250, 250, 0.1); }

#notebookPage .posts .post {
  color: #ffffff;
  background-color: inherit;
  cursor: pointer; }
  #notebookPage .posts .post.color {
    background-color: #65727b; }
  #notebookPage .posts .post.active {
    background-color: #5fa7ff !important; }
  #notebookPage .posts .post:hover {
    background-color: #4ab7fd !important; }
  #notebookPage .posts .post .excerpt {
    color: #ffffff; }

#notebookPage .column-2 {
  background: #1c1925; }

#editPage form .main-editor, #writePage form .main-editor {
  color: #fafafa; }

#editPage .save.icon, #writePage .save.icon {
  background: #338fff;
  color: #ffffff; }
  #editPage .save.icon:hover, #writePage .save.icon:hover {
    background: #272431; }

#homePage .header, #settingsPage .header {
  color: #fafafa; }

#homePage .notebooks .notebook a .cover {
  background-color: #959597; }

#homePage .notebooks .notebook a .description {
  color: #dadada;
  background-color: rgba(250, 250, 250, 0.1); }
  #homePage .notebooks .notebook a .description .created {
    color: #bababa; }
  #homePage .notebooks .notebook a .description button {
    color: #338fff; }

#settingsPage .fonts select, #settingsPage .themes select {
  border-bottom: 2px solid #338fff; }

.simply-straight .spinner {
  background-color: #1c1925; }

.simply-straight .spinner .points {
  color: #338fff; }

#settingsPage {
  color: #fafafa; }
  #settingsPage .fonts select, #settingsPage .themes select {
    color: #ffffff; }
    #settingsPage .fonts select option, #settingsPage .themes select option {
      color: black; }
