@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700");
#editPage form .main-editor, #writePage form .main-editor {
  font-family: "Lato", sans-serif;
  font-size: 16px; }
  #editPage form .main-editor h1, #editPage form .main-editor h2, #editPage form .main-editor h3, #editPage form .main-editor h4, #editPage form .main-editor p, #writePage form .main-editor h1, #writePage form .main-editor h2, #writePage form .main-editor h3, #writePage form .main-editor h4, #writePage form .main-editor p {
    font-family: "Lato", sans-serif; }
  #editPage form .main-editor h1, #writePage form .main-editor h1 {
    font-weight: 400;
    margin: 20px 0px;
    font-size: 27px; }
  #editPage form .main-editor h2, #writePage form .main-editor h2 {
    font-weight: 400;
    margin: 18px 0px;
    font-size: 20px; }
  #editPage form .main-editor h3, #writePage form .main-editor h3 {
    font-weight: 400;
    margin: 18px 0px;
    font-size: 18px; }
  #editPage form .main-editor p, #writePage form .main-editor p {
    font-weight: 400;
    margin: 15px 0px;
    line-height: 25px;
    font-style: normal; }
  #editPage form .main-editor strong, #writePage form .main-editor strong {
    font-family: "Lato", sans-serif;
    font-weight: 700; }
  #editPage form .main-editor blockquote, #writePage form .main-editor blockquote {
    margin: 30px 0;
    color: #9B9B9B;
    font-style: oblique;
    border-left: 3px solid #9B9B9B;
    padding-left: 17px;
    font-size: 16px; }

#notebookPage .column-2 {
  font-family: "Lato", sans-serif;
  font-size: 16px; }
  #notebookPage .column-2 h1, #notebookPage .column-2 h2, #notebookPage .column-2 h3, #notebookPage .column-2 h4, #notebookPage .column-2 p {
    font-family: "Lato", sans-serif; }
  #notebookPage .column-2 h1 {
    font-weight: 400;
    margin: 20px 0px;
    font-size: 27px; }
  #notebookPage .column-2 h2 {
    font-weight: 400;
    margin: 18px 0px;
    font-size: 20px; }
  #notebookPage .column-2 h3 {
    font-weight: 400;
    margin: 18px 0px;
    font-size: 18px; }
  #notebookPage .column-2 p {
    font-weight: 400;
    margin: 15px 0px;
    line-height: 25px;
    font-style: normal; }
  #notebookPage .column-2 strong {
    font-family: "Lato", sans-serif;
    font-weight: 700; }
  #notebookPage .column-2 blockquote {
    margin: 30px 0;
    color: #9B9B9B;
    font-style: oblique;
    border-left: 3px solid #9B9B9B;
    padding-left: 17px;
    font-size: 16px; }
