#editPage form .main-editor, #writePage form .main-editor {
  font-family: OpenSans, sans-serif;
  font-style: normal;
  font-size: 16px; }
  #editPage form .main-editor h1, #editPage form .main-editor h2, #editPage form .main-editor h3, #editPage form .main-editor h4, #writePage form .main-editor h1, #writePage form .main-editor h2, #writePage form .main-editor h3, #writePage form .main-editor h4 {
    font-family: 'SourceSansPro-Regular', sans-serif; }
  #editPage form .main-editor strong, #writePage form .main-editor strong {
    font-family: OpenSans , sans-serif;
    font-weight: 700; }

#notebookPage .posts .post {
  font-family: OpenSans, sans-serif;
  font-size: 16px;
  font-style: normal; }
  #notebookPage .posts .post h1, #notebookPage .posts .post h2, #notebookPage .posts .post h3, #notebookPage .posts .post h4 {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-style: normal; }
