@font-face {
  font-family: SourceSerifPro;
  src: url("../fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: SourceSerifPro;
  src: url("../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: SourceSerifPro;
  src: url("../fonts/Source_Serif_Pro/SourceSerifPro-Semibold.ttf") format("truetype");
  font-weight: 600; }

#editPage form .main-editor, #writePage form .main-editor {
  font-family: SourceSerifPro, sans-serif;
  font-style: normal;
  font-size: 18px; }
  #editPage form .main-editor h1, #editPage form .main-editor h2, #editPage form .main-editor h3, #editPage form .main-editor h4, #writePage form .main-editor h1, #writePage form .main-editor h2, #writePage form .main-editor h3, #writePage form .main-editor h4 {
    font-family: SourceSerifPro, sans-serif; }
  #editPage form .main-editor strong, #writePage form .main-editor strong {
    font-family: SourceSerifPro, sans-serif;
    font-weight: 700; }

#notebookPage .posts .post {
  font-family: SourceSerifPro, sans-serif;
  font-size: 18px;
  font-style: normal; }
  #notebookPage .posts .post .date {
    font-size: 16px; }
  #notebookPage .posts .post .time {
    font-size: 16px; }
  #notebookPage .posts .post h1, #notebookPage .posts .post h2, #notebookPage .posts .post h3, #notebookPage .posts .post h4 {
    font-family: SourceSerifPro, sans-serif;
    font-style: normal; }
