//COLORS
$white: #FAFAFA;
$white2: #fdfdfd;
$black: #2b2b2b;
$black2: #1f1f1f;
$grey: #ababab;
$darkgrey: #717171;
$lightgrey2: #fbfbfb; 
$orange: #ff8000;
$blue: #338fff;
$yellow: #F9FD65;
$green: #7ce810;
$lightgreen: #c7fd91;
$lightlightgrey: #f3eeee; 
$pinkred: #f5004f;
$pink_orange: #f58d70;
$coral: coral;

$paper0: #fefff2;
$paper1: #fdf6e3;
$paper2: #ddd6c1;
$paper3: #d3cbb7;
$papertext: #333333;

//dark blue - lightblue theme
$umbrella_primary: #1c1925;
$umbrella_secondary: #338fff;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//UMBRELLA NOTE 3

$default-text: rgba(0, 0, 0, 0.87);

$default-background: #FFFFFF;

$default-fontsize : 14px;

$default-font: 'Lato', sans-serif;

$source-sans-pro: 'Source Sans Pro', sans-serif;

$open-sans: 'Open Sans', sans-serif;

$roboto: 'Roboto', sans-serif;

$eb-garamond: 'EB Garamond', serif;

