header {
    display: flex;
    // padding: 5px 10px;
    padding-left: 52px;
    justify-content: space-between;
    -webkit-app-region: drag;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background: inherit;
    .name {
        // color: $black;
        font-size: 14px;
        background: #338fff;
        color: white;
        padding: 5px;
        width: 293px;
        &.athome{
            background: inherit;
            color: $black;
        }
    }

    .nav {
        -webkit-app-region: no-drag;
        padding: 5px;
        .nav-item {
            // background-color: $blue;
            border: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 2px;
            outline: none;

            &:hover {
                color: $black;
            }
        }

        .close {
            background-color: #fb6452;
            color: #fb6452;
        }

        .minimize {
            background-color: #f0d700;
            color: #f0d700;
        }

        .maximize {
            background-color: #32E317;
            color: #32E317;
        }

        svg {
            width: 10px;
            height: 10px;
            stroke-width: 3px;
            right: 3px;
            position: relative;
        }
    }
}