//FONTS
$lato: 'Lato', sans-serif;
$opensans: 'Open Sans', sans-serif;
$consolas: "Consolas, 'Courier New', monospace";
$sourceSansPro: 'SourceSansPro-Regular', sans-serif;
$sourceSansProItalic: 'SourceSansPro-Italic', sans-serif;
$sourceSansProLight: 'SourceSansPro-Light', sans-serif;
$sourceSansProBold: 'SourceSansPro-Bold', sans-serif;
$sourceSansProSemiBold: 'SourceSansPro-SemiBold', sans-serif;

$open_sans_light_italic: 'OpenSans-LightItalic', sans-serif;


//COLORS
$white: #FAFAFA;
$white2: #fdfdfd;
$black: #2b2b2b;
$black2: #1f1f1f;
$grey: #ababab;
$darkgrey: #717171;
$lightgrey2: #fbfbfb; 
$orange: #ff8000;
$blue: #338fff;
$yellow: #F9FD65;
$green: #7ce810;
$lightgreen: #c7fd91;
$lightlightgrey: #f3eeee; 
$pinkred: #f5004f;
$pink_orange: #f58d70;
$coral: coral;

$paper0: #fefff2;
$paper1: #fdf6e3;
$paper2: #ddd6c1;
$paper3: #d3cbb7;
$papertext: #333333;

//dark blue - lightblue theme
$umbrella_primary: #1c1925;
$umbrella_secondary: #338fff;



@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro-Italic';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype');
}

/* OPEN SANS */

@font-face{
    font-family: 'OpenSans-LightItalic';
    src: url('../fonts/Open_Sans/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: OpenSans;
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
}