#init-page {
  position: fixed;
  top: 0;
  z-index: 500;
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #init-page .wrap {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    color: white; }
    #init-page .wrap .view1 {
      padding: 30px; }
      #init-page .wrap .view1 header {
        margin: 20px 0px; }
      #init-page .wrap .view1 p {
        font-size: 16px; }
      #init-page .wrap .view1 .btn1 {
        padding: 9px 17px;
        margin-right: 6px; }
        #init-page .wrap .view1 .btn1:hover {
          background: white;
          color: #444;
          border-color: white; }
    #init-page .wrap .view-yes, #init-page .wrap .view-no {
      padding: 30px;
      max-width: 600px;
      position: relative; }
      #init-page .wrap .view-yes svg, #init-page .wrap .view-no svg {
        width: 45px;
        height: 45px;
        stroke-width: 0.8px;
        transition: 0.4s; }
        #init-page .wrap .view-yes svg:hover, #init-page .wrap .view-no svg:hover {
          transform: scale(1.1); }
      #init-page .wrap .view-yes .svg-button, #init-page .wrap .view-no .svg-button {
        color: white;
        margin-bottom: 10px; }
      #init-page .wrap .view-yes label, #init-page .wrap .view-no label {
        font-size: 16px;
        display: block; }
      #init-page .wrap .view-yes small, #init-page .wrap .view-no small {
        font-size: 14px; }
      #init-page .wrap .view-yes input, #init-page .wrap .view-no input {
        position: relative;
        z-index: 1;
        margin-bottom: 15px;
        color: white; }
      #init-page .wrap .view-yes .form-item:hover, #init-page .wrap .view-yes .form-item:focus, #init-page .wrap .view-no .form-item:hover, #init-page .wrap .view-no .form-item:focus {
        border-color: #5ef5bd; }
      #init-page .wrap .view-yes .btn3, #init-page .wrap .view-no .btn3 {
        width: auto;
        background: white;
        color: #444;
        font-size: 14px; }
      #init-page .wrap .view-yes button.browse-folder, #init-page .wrap .view-no button.browse-folder {
        background: transparent;
        color: inherit;
        padding: 12px;
        border-radius: 2px;
        position: absolute;
        margin-top: -51px;
        right: 40px;
        font-size: 13px;
        padding: 6px;
        border: 1.4px solid;
        z-index: 2; }
        #init-page .wrap .view-yes button.browse-folder:hover, #init-page .wrap .view-no button.browse-folder:hover {
          color: #5ef5bd;
          border-color: #5ef5bd; }
    #init-page .wrap footer {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 20px;
      font-size: 14px; }
      #init-page .wrap footer a {
        color: white;
        text-decoration: none;
        border-bottom: 1px dashed white; }
  #init-page img.background {
    position: absolute;
    width: 100%; }
