/* ON/OFF Switch */
.onoffswitch {
  position: relative;
  width: 55px;
  display: inline-block;
  font-size: 80%;
  outline: none !important;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #e6e6e6;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in-out;
  -o-transition: margin 0.15s ease-in-out;
  -moz-transition: margin 0.15s ease-in-out;
  transition: margin 0.15s ease-in-out;
}
.onoffswitch .onoffswitch-inner:before,
.onoffswitch .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 80%;
  color: #ffffff;
  font-weight: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch .onoffswitch-inner:before {
  content: "YES";
  padding-left: 10px;
  background-color: #007bc8;
  color: #ffffff;
}
.onoffswitch .onoffswitch-inner:after {
  content: "NO";
  padding-right: 10px;
  background-color: #fafafa;
  color: #3d3d3d;
  text-align: right;
}
.onoffswitch .onoffswitch-switch {
  width: 22px;
  height: 22px;
  margin: 0;
  background: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 35px;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}
.toggle-group {
  // position: relative;
  // height: 27px;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  // top: 50%;
  // left: 20px;
  // margin-top: -13.5px;
  // min-height: 48px;
  display: flex;
  margin: 5px 0px;
  align-items: center;
}
.toggle-group input[type=checkbox] {
  position: absolute;
  left: 10px;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
  right: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.toggle-group input[type=checkbox]:focus ~ .onoffswitch {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
}
.toggle-group label {
  position: absolute;
  cursor: pointer;
  padding-left: 65px;
  display: inline-block;
  text-align: left;
  line-height: 24px;
  // width: 100%;
  z-index: 1;
  height: 24px;
  // font-weight: 200;
}
/* ==== Accessibility ===== */
.aural {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.aural:focus {
  clip: rect(0, 0, 0, 0);
  font-size: 1em;
  height: auto;
  outline: thin dotted;
  position: static !important;
  width: auto;
  overflow: visible;
}
.switch-container{
  margin-left: 10px;
  margin-top: 8px;  
}