//GREY THEME
$app-background: #1c1925;
$notebook-tile-background: rgba(250, 250, 250, 0.1);
$notebook-tile-secondary-color: #bababa;
$notebook-tile-primary-color: #dadada;
$notebook-tile-button: #338fff;
$color2: #ffffff; //white
$color1 : #338fff; //light blue
$color3: #272431; //dark blue - the sidebar color
$color4: #dadada; //light grey - column-1 color
$color5: #fafafa; //the main text color

$spinner-background: #1c1925;
$spinner-color: #338fff;
$notebook-header-background: #65727b;
$notebook-header-color: #fafafa;
$column1-color: #ffffff;
$column1-background-color: #65727b;
$column1-background-color2: #65727b;
$column1-hover-post: #4ab7fd;
$column1-active-post: #5fa7ff;
$column1-scroll-bar: rgba(250, 250, 250, 0.1);
$sidebar-color: #fafafa;
$sidebar-color-hover: #338fff;
html,body{
    background-color: $app-background;
    color: $color5;
}

header {
    background: $app-background;
    .name {
        background: $notebook-header-background;
        color: $notebook-header-color;
        &.athome{
            background: $app-background;
            color: $color5;
        }
    }
}

#main-icons{
    .icon{
        background: $color1;
        color: $color2;
        &:hover{
            background: $color3;
        }
    }
}
#sidebar{
    background: $color3;
    button{
        color: $sidebar-color;
        &:hover{
            color: $sidebar-color-hover;
        }
    }
}
#notebookPage{
    .column-1{
        background: $column1-background-color;
    }
    .column-1::-webkit-scrollbar {
        background-color: $app-background;
    }

    .column-1::-webkit-scrollbar-thumb {
        background-color: $column1-scroll-bar;
    }
    .posts{
        .post{
            color: $column1-color;
            background-color: inherit;
            // border-bottom: 1px solid #efefef;
            cursor: pointer;
            &.color{
                background-color: $column1-background-color2;
                // &:hover{
                //  background-color: #bfbfbf;
                // }
            }
            &.active{
                background-color: $column1-active-post !important;
                // border-bottom: 1px solid $color1;
            }
            &:hover{
                background-color: $column1-hover-post !important;
                // border-color: $color1 !important;
            }
            .excerpt{
                color: $column1-color;
            }
        }
    }
    .column-2{
        background: $app-background;
    }
}
#editPage, #writePage{
    form{
        .main-editor{
            color: $color5;
        }
    }
    .save.icon{
        background: $color1;
        color: $color2;
        &:hover{
            background: $color3;
        } 
    }
}
#homePage, #settingsPage{
    .header{
        color: $color5;
    }
}
#homePage{
    .notebooks {
        .notebook {
            a {
                .cover {
                    background-color: #959597;
                }
                .description {
                    color: $notebook-tile-primary-color;
                    background-color: $notebook-tile-background;
                    .created {
                        color: $notebook-tile-secondary-color;
                    }
                    button {
                        color: $notebook-tile-button;
                    }
                }
            }
        }
    }
}
#settingsPage{
    .fonts, .themes{
        select{
            border-bottom: 2px solid $color1;
        }
    }
}

.simply-straight .spinner {
    background-color: $spinner-background;
}

.simply-straight .spinner .points {
    color: $spinner-color;
}

#settingsPage{
    color: $color5;
    .fonts, .themes{
        select{
            color: $color2;
            option{
                color: black;
            }
        }
    }
}