@import "partials/variables";
@import "partials/header";
@import "partials/scrollbar";
@import "partials/modals";
@import "partials/sidebar";
@import "grey_theme.scss";

html,
body {
    height: 100%;
    width: 100%;
    // background-color: white;
    margin: 0;
    padding: 0;
    font-family: $sourceSansPro;
    -webkit-app-region: drag;
}

h1, h2, h3, h4, p {
    padding: 0px;
    margin: 10px 0px;
    font-weight: normal;
}

h1 {
    font-family: $sourceSansProLight;
    font-style: normal;
    line-height: 1.4em;
    font-size: 45px;
}

h2 {
    font-family: $sourceSansProLight;
    font-style: normal;
    line-height: 1.4em;
    font-size: 35px;
}

h3 {
    font-family: $sourceSansProLight;
    font-style: normal;
    line-height: 1.4em;
    font-size: 25px;
}

p {
    line-height: 1.4em;
}

strong {
    font-family: $sourceSansProSemiBold;
}

.strong{
    font-family: $sourceSansProSemiBold;
}

img {
    max-width: 100%;
}

.svg-background{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    svg{
        height: 100%;
        position: relative;
        width: 100%;
    }
}

form.form-group {
    * {
        margin: 5px 0px;
    }

    .form-item {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-family: $sourceSansPro;
        border: 2px solid $lightlightgrey;
        border-radius: 2px;
        outline: none;

        &:hover, &:focus {
            border-color: $umbrella_secondary;
            outline: none;
        }

        background-color: inherit;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $lightgrey2;
    }
}

.bold-sub-heading{
    font-size: 35px;
}

.btn1 {
    background: transparent;
    color: inherit;
    padding: 12px;
    border: solid 1px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        color: $umbrella_secondary;
        border-color: $umbrella_secondary;
    }

    &:focus {
        outline: none;
    }
}

.btn2 {
    background: transparent;
    color: inherit;
    cursor: pointer;

    &:hover {
        color: $umbrella_secondary;
    }

    border: none;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    font-size: 12px;
    color: $umbrella_secondary;

    &:focus {
        outline: none;
    }
}

.btn3{
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 5px 0px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    font-size: 15px;
    text-transform: capitalize;
    &.a{
        color: white;
        background-color: deepskyblue;
    }
    &.b{
        color: white;
        background-color: #5ef5bd;
    }
    &.c{
        color: white;
        background-color: $pinkred;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app {
    height: 100%;
    width: 100%;
    position: relative;
    // overflow-y: scroll;
    // overflow: hidden;
    // position: fixed;
}

button {
    outline: none;
    cursor: pointer;
}

.app {
    .wrap {
        height: 100%;
    }
}

.wrap {
    margin-left: 52px;
    padding-top: 30px;
    position: relative;
}    
#main-icons {
    -webkit-app-region: no-drag;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 22px 28px;
    z-index: 50;

    .icon {
        display: none;
        border: none;
        padding: 12px 13px;
        margin-left: 15px;
        border-radius: 50%;
        // background: $umbrella_primary;
        // color: $white;
        cursor: pointer;
        outline: none;

        &:hover {
            background-color: $umbrella_secondary;
        }

        svg {
            position: relative;
            top: 1px;
            left: 1px;
        }
    }

    .visible {
        display: block;
    }
}

#editPage, #writePage {
    -webkit-app-region: no-drag;
    // padding-top: 30px;
    display: none;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &.open {
        display: block;
    }

    .header{
        font-size: 14px;
        font-family: $sourceSansPro;
        background: $umbrella_secondary;
        color: white;
        position: absolute;
        z-index: 10;
        padding: 5px 15px;
        border-bottom-right-radius: 5px;
        top: 0px;
    }

    form {
        padding: 25px;
        width: 100%;
        -webkit-app-region: no-drag;

        .main-editor {
            -webkit-app-region: no-drag;
            font-family: $sourceSansPro;
            border: none;
            outline: none;
            background: inherit;
            min-width: 100%;
            max-width: 100%;
            font-size: 18px;
            line-height: 1.3em;
            // color: $black;
            padding-right: 20%;
        }
    }

    .save.icon {
        -webkit-app-region: no-drag;
        position: fixed;
        bottom: 0px;
        right: 0px;
        margin: 21px 27px;
        border: none;
        padding: 13px 14px;
        border-radius: 50%;
        // background: $umbrella_secondary;
        // color: $white;
        cursor: pointer;
        outline: none;
        z-index: 50;
        
        // &:hover {
        //     background-color: $umbrella_primary;
        // }

        svg {
            position: relative;
            top: 1px;
            left: 1px;
        }
    }
}

#homePage, #settingsPage{
    -webkit-app-region: no-drag;
    display: none;
    padding: 10px;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    padding-bottom: 50px;

    &.open {
        display: block;
    }

    .header {
        // color: $black;
        font-size: 30px;
        padding: 5px 10px;
        font-family: $sourceSansProLight;
    }
}

#homePage{
    padding: 0px;
    padding-bottom: 30px;
    .header{
        padding: 5px 20px;
    }
    .notebooks {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        flex-grow: 1;
        align-items: flex-start;
        margin-bottom: 15px;
        padding: 10px;
        .notebook {
            max-width: 310px;
            min-width: 200px;
            width: 23.4042553%;
            margin: 10px 2px 10px 10px;
            a {
                box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
                position: relative;
                display: block;
                overflow: hidden;
                transition: 0.18s;
                border-radius: 6px;
                cursor: pointer;

                &:hover {
                    transform: translateY(-2px);
                    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.2);
                }

                .cover {
                    position: relative;
                    background-color: #959597;
                    overflow: hidden;
                    height: 195px;
                    width: 100%;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        border-style: none;
                    }
                }

                .description {
                    padding: 10px 12px;
                    color: $black;
                    background-color: $white;

                    .title {
                        font-size: 16px;
                    }

                    .created {
                        font-size: 14px;
                        font-family: $sourceSansProItalic;
                        color: dimgrey;
                        margin-top: 1px;
                    }

                    .summary {
                        height: 50px;
                        font-size: 15px;
                        overflow: hidden;
                        margin-top: 1px;
                    }

                    button {
                        border: none;
                        margin-top: 10px;
                        text-transform: uppercase;
                        font-weight: 700;
                        padding: 0;
                        font-size: 12px;
                        color: $umbrella_secondary;
                    }
                }
            }
        }
    }
}

#settingsPage{
    .user{
        padding: 5px 13px;
    }
    .signin-buttons{
        padding: 5px 13px;
        button{
            margin-right: 5px;
        }
    }
    .signout-buttons{
        margin: 10px 0px;
    }
    .username{
        font-size: 35px;
    }
    .email{
        font-size: 16px;
    }
    .content{
        padding: 0px 10px;
    }
    .fonts, .themes{
        margin: 15px 0px;
        select{
            padding: 7px;
            border: none;
            border-bottom: 2px solid $blue;
            background: inherit;
            outline: none;
            width: 400px;
            font-size: 16px;
        }
    }
    .path-wrap{
        .db-location-tag{
            display: inline;
            margin-right: 7px;
        }
        button{
            display: inline;
            width: auto;
        }
    }
}

#notebookPage {
    -webkit-app-region: no-drag;
    display: none;
    overflow-y: scroll;
    height: 100%;
    overflow-x: hidden;
    &.open {
        display: flex;
        flex-direction: row;
    }

    .column-1{
        width: 300px;
        position: fixed;
        height: 100%;
        overflow-y: scroll;
        padding-bottom: 50px;
        // background: $lightgrey2;
    }

    .column-1::-webkit-scrollbar-track {
        
    }

    .column-1::-webkit-scrollbar {
        width: 7px;
        // background-color: white;
    }

    // .column-1::-webkit-scrollbar-thumb {
    //     background-color: #e8e8e8;
    // }

    .column-2{
        position: relative;
        margin-left: 300px;
        width: 100%;
        padding: 10px 30px;
        cursor :text;
    }

    .header{
        font-size: 14px;
        font-family: $sourceSansPro;
        background: $umbrella_secondary;
        color: white;
        z-index: 10;
        padding: 5px 15px;
        // border-bottom-right-radius: 5px;
        width: 100%;

    }

    .posts {
        .post {
            display: block;
            padding: 15px;
            font-size: 14px;
            position: relative;
            // color: $black;
            // background-color: inherit;
            // border-bottom: 1px solid #efefef;
            cursor: pointer;
            // &:hover{
            //     border-color: $blue !important;
            // }
            // &.color{
            //     background-color: #FAFAFA;
            // }
            .date {
                font-size: 13px;
                // margin-top: 3px;
                // margin-bottom: 20px;
            }

            .time {
                font-size: 13px;
                // margin-top: 10px;
            }
            .excerpt{
                font-size: 14.5px;
                margin-top: 5px;
                font-family: $sourceSansProItalic;
            }

            .expandButton {
                position: absolute;
                top: 5px;
                right: 7px;
                cursor: pointer;
                color: $darkgrey;

                svg {
                    stroke-width: 1;
                    width: 20px;
                    height: 20px;
                }
            }

            .box {
                position: absolute;
                display: none;
                background-color: $black;
                padding: 5px 0px;
                border-radius: 4px;
                top: 8px;
                right: 31px;
                min-width: 100px;
                min-height: 70px;
                flex-direction: column;
                justify-content: center;

                button {
                    background: none;
                    border: none;
                    display: block;
                    color: $white;
                    margin-top: 3px;
                    padding: 2px 0px;

                    &:hover {
                        background-color: $black2;
                    }
                }

                &.visible {
                    display: flex;
                }
            }
        }
    }
}

.options-menu {
    position: absolute;
    background: $white;
    color: $black;
    padding: 20px;
    border-radius: 2px;
    font-size: 14px;

    button {
        background: transparent;
        border: none;
    }
}

.postman, .raven {
    position: fixed;
    -webkit-app-region: no-drag;
    bottom: 0px;
    background: $umbrella_secondary;
    color: $white;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: bounceOut;
    z-index: 100;

    &:hover {
        background: $umbrella_primary;
    }

    &.open {
        // display: block;
        animation-name: bounceIn;
    }

    .body {
        * {
            display: inline-block;
        }

        .emoji-text {
            margin-left: 10px;
            position: relative;
            bottom: 14px;
        }

        img {
            width: 40px;
        }
    }

    svg {
        width: 40px !important;
    }
}

.raven{
    background: $orange;
    color: $white;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: bounceOut;
    z-index: 100;
    &:hover{
        background: $umbrella_secondary;
    }
    &.open {
        animation-name: bounceIn;
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceOut {
    20% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    50%, 55% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

//SPINNER

#loader{
    display: none;
    &.visible{
        display: block;
    }
}

.simply-straight .spinner {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
}

.simply-straight .spinner .points {
    margin: auto;
    color: #3498db;
}

.simply-straight .spinner .points label {
    font-size: 30px;
    margin-right: 5px;
    display: inline-block;
    opacity: 0;
}

@keyframes myAnimation {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes myAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.points label:nth-child(6) {
    -webkit-animation: myAnimation 3s infinite ease-in-out;
    animation: myAnimation 3s infinite ease-in-out;
}

.points label:nth-child(5) {
    -webkit-animation: myAnimation 3s 100ms infinite ease-in-out;
    animation: myAnimation 3s 100ms infinite ease-in-out;
}

.points label:nth-child(4) {
    -webkit-animation: myAnimation 3s 200ms infinite ease-in-out;
    animation: myAnimation 3s 200ms infinite ease-in-out;
}

.points label:nth-child(3) {
    -webkit-animation: myAnimation 3s 300ms infinite ease-in-out;
    animation: myAnimation 3s 300ms infinite ease-in-out;
}

.points label:nth-child(2) {
    -webkit-animation: myAnimation 3s 400ms infinite ease-in-out;
    animation: myAnimation 3s 400ms infinite ease-in-out;
}

.points label:nth-child(1) {
    -webkit-animation: myAnimation 3s 500ms infinite ease-in-out;
    animation: myAnimation 3s 500ms infinite ease-in-out;
}

button.update{
    background: transparent;
    border: none;
    color: white;
}

@media (max-width: 670px){
    .wrap{
        #homePage{
            .notebooks{
                .notebook{
                    width: 45%;
                }
            }
        }
    }
}

@media (max-width: 500px){
    .wrap{
        #homePage{
            .notebooks{
                .notebook{
                    width: 100%;
                }
            }
        }
    }
}