@import "partials/variables";

html,
body {
    height: 100%;
    width: 100%;
    background-color: $white;
    margin: 0;
    padding: 0;
    font-family: $sourceSansPro;
    -webkit-app-region: drag;
}

h1, h2, h3, h4, p {
    padding: 0px;
    margin: 10px 0px;
    font-weight: normal;
}

h1 {
    font-family: $sourceSansProLight;
    font-style: normal;
    line-height: 1.4em;
    font-size: 45px;
}

h2 {
    font-family: $sourceSansProLight;
    font-style: normal;
    line-height: 1.4em;
    font-size: 35px;
}

h3 {
    font-family: $sourceSansProLight;
    font-style: normal;
    line-height: 1.4em;
    font-size: 25px;
}

p {
    line-height: 1.5em;
}

strong {
    font-family: $sourceSansProSemiBold;
}

img {
    max-width: 100%;
}

form.form-group {
    * {
        margin: 5px 0px;
    }

    .form-item {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-family: $sourceSansPro;
        border: 2px solid $lightlightgrey;
        border-radius: 2px;
        outline: none;

        &:hover, &:focus {
            border-color: $umbrella_secondary;
            outline: none;
        }

        background-color: inherit;
    }
}

.bold-sub-heading{
    font-size: 35px;
}

.btn1 {
    background: transparent;
    color: inherit;
    padding: 12px;
    border: solid 1px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
        color: $umbrella_secondary;
        border-color: $umbrella_secondary;
    }

    &:focus {
        outline: none;
    }
}

.btn2 {
    background: transparent;
    color: inherit;
    cursor: pointer;

    &:hover {
        color: $umbrella_secondary;
    }

    border: none;
    margin: 10px 0px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0;
    font-size: 12px;
    color: $umbrella_secondary;

    &:focus {
        outline: none;
    }
}

.btn3{
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    display: block;
    margin: 5px 0px;
    width: 100%;
    max-width: 400px;
    text-align: left;
    font-size: 15px;
    text-transform: capitalize;
    &.a{
        color: white;
        background-color: deepskyblue;
    }
    &.b{
        color: white;
        background-color: #5ef5bd;
    }
    &.c{
        color: white;
        background-color: $pinkred;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}

button {
    outline: none;
    cursor: pointer;
}

.app {
    .wrap {
        height: 100%;
    }
}

.translucent-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;

    img {
        max-width: 100%;
    }

    display: flex;
    justify-content: center;

    .wrap {
        overflow: hidden;
        filter: blur(20px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

header {
    display: flex;
    padding: 5px 10px;
    padding-left: 60px;
    justify-content: space-between;
    -webkit-app-region: drag;

    .name {
        color: $black;
        font-size: 14px;
    }

    .nav {
        -webkit-app-region: no-drag;

        .nav-item {
            // background-color: $blue;
            border: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin-right: 2px;
            outline: none;

            &:hover {
                color: $black;
            }
        }

        .close {
            background-color: #fb6452;
            color: #fb6452;
        }

        .minimize {
            background-color: #f0d700;
            color: #f0d700;
        }

        .maximize {
            background-color: #32E317;
            color: #32E317;
        }

        svg {
            width: 10px;
            height: 10px;
            stroke-width: 3px;
            right: 3px;
            position: relative;
        }
    }
}

#sidebar {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    height: 100%;
    // padding: 8px;
    background: $umbrella_primary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    button {
        svg {}
        display: none;
        margin-top: 13px;
        background: none;
        border: none;
        color: $white;

        &:hover {
            color: $umbrella_secondary;
        }
    }

    .visible {
        display: block;
    }
    .bottom{
        height: 40%;
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .top{
        height: 60%;
        span.color-box{
            height: 10%;
            display: block;
        }
    }
}

.page{
    padding-bottom: 30px;
}

.wrap {
    margin-left: 52px;

    #main-icons {
        -webkit-app-region: no-drag;
        position: fixed;
        bottom: 0px;
        right: 0px;
        margin: 22px 28px;
        z-index: 50;

        .icon {
            display: none;
            border: none;
            padding: 12px 13px;
            margin-left: 15px;
            border-radius: 50%;
            background: $umbrella_primary;
            color: $white;
            cursor: pointer;
            outline: none;

            &:hover {
                background-color: $umbrella_secondary;
            }

            svg {
                position: relative;
                top: 1px;
                left: 1px;
            }
        }

        .visible {
            display: block;
        }
    }

    #editPage, #writePage {
        -webkit-app-region: no-drag;
        padding-top: 30px;
        display: none;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        &.open {
            display: block;
        }

        .header{
            font-size: 14px;
            font-family: consolas,$consolas-mac, $ubuntu_mono_italic;
            background: $umbrella_secondary;
            color: white;
            font-style: italic;
            display: absolute;
            position: absolute;
            z-index: 10;
            padding: 5px 15px;
            border-bottom-right-radius: 5px;
            /* border-bottom-left-radius: 4px; */
            // border-top-right-radius: 4px;
            top: 29px;
        }

        form {
            padding: 15px;
            width: 100%;
            -webkit-app-region: no-drag;

            .main-editor {
                -webkit-app-region: no-drag;
                font-family: consolas,$consolas-mac, $ubuntu_mono_italic, $sourceSansPro;
                font-style: italic;
                border: none;
                outline: none;
                background: inherit;
                min-width: 100%;
                max-width: 100%;
                font-size: 18px;
                font-weight: lighter;
                line-height: 1.3em;
                color: $black;
                padding-right: 20%;
                h1,h2,h3,h4{
                    font-family: $open_sans_light_italic;
                }
            }
        }

        .save.icon {
            -webkit-app-region: no-drag;
            position: fixed;
            bottom: 0px;
            right: 0px;
            margin: 21px 27px;
            border: none;
            padding: 13px 14px;
            border-radius: 50%;
            background: $umbrella_secondary;
            color: $white;
            cursor: pointer;
            outline: none;
            z-index: 50;
            
            &:hover {
                background-color: $umbrella_primary;
            }

            svg {
                position: relative;
                top: 1px;
                left: 1px;
            }
        }
    }

    #homePage, #settingsPage, #quicknotesPage {
        -webkit-app-region: no-drag;
        display: none;
        padding: 10px;
        overflow-y: scroll;
        height: 100%;
        overflow-x: hidden;
        padding-bottom: 50px;

        &.open {
            display: block;
        }

        .header {
            color: $black;
            font-size: 30px;
            padding: 5px 10px;
            font-family: $sourceSansProLight;
        }
    }

    #homePage, #quicknotesPage {
        padding: 0px;
        padding-bottom: 30px;
        .header{
            padding: 5px 20px;
        }
        .quicknotes {
            margin-top: 15px;
            display: flex;
            flex-wrap: wrap;

            .note {
                padding: 20px;
                // font-family: $sourceSansPro;
                font-family: consolas,$consolas-mac, $ubuntu_mono_italic;
                font-size: 16px;
                font-style: italic;
                position: relative;
                color: $white;
                width: 25%;
                .expandButton {
                    position: absolute;
                    top: 5px;
                    right: 7px;
                    cursor: pointer;
                    color: $white;

                    svg {
                        stroke-width: 1;
                        width: 20px;
                        height: 20px;
                    }
                }
                h1, h2, h3, h4 {
                    font-family: $open_sans_light_italic;
                    font-style: normal;
                }

                p{
                    margin: 0;
                }

                .box {
                    position: absolute;
                    display: none;
                    background-color: $black;
                    padding: 5px 0px;
                    border-radius: 4px;
                    top: 8px;
                    right: 31px;
                    min-width: 100px;
                    min-height: 70px;
                    flex-direction: column;
                    justify-content: center;

                    button {
                        background: none;
                        border: none;
                        display: block;
                        color: $white;
                        margin-top: 3px;
                        padding: 2px 0px;

                        &:hover {
                            background-color: $black2;
                        }
                    }

                    &.visible {
                        display: flex;
                    }
                }
            }
        }

        .notebooks {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            flex-grow: 1;
            align-items: flex-start;
            margin-bottom: 15px;
            padding: 10px;
            .notebook {
                // min-width: 210px;
                // flex-basis: 23.35767%;
                width: 23.4042553%;
                margin-left: 10px;
                margin-right: 2px;
                margin-top: 10px;
                margin-bottom: 10px;

                a {
                    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
                    position: relative;
                    display: block;
                    overflow: hidden;
                    transition: 0.18s;
                    border-radius: 6px;
                    cursor: pointer;

                    &:hover {
                        transform: translateY(-2px);
                        box-shadow: 0 1px 50px rgba(0, 0, 0, 0.2);
                    }

                    .cover {
                        position: relative;
                        background-color: #959597;
                        overflow: hidden;
                        height: 195px;
                        width: 100%;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            border-style: none;
                        }
                    }

                    .description {
                        padding: 10px 12px;
                        color: $black;
                        background-color: $white;

                        .title {
                            font-size: 16px;
                        }

                        .created {
                            font-size: 14px;
                            font-family: $sourceSansProItalic;
                            color: dimgrey;
                            margin-top: 1px;
                        }

                        .summary {
                            height: 50px;
                            font-size: 15px;
                            overflow: hidden;
                            margin-top: 1px;
                        }

                        button {
                            border: none;
                            margin-top: 10px;
                            text-transform: uppercase;
                            font-weight: 700;
                            padding: 0;
                            font-size: 12px;
                            color: $umbrella_secondary;
                        }
                    }
                }
            }
        }
    }

    #settingsPage{
        .signin-buttons{
            padding: 5px 13px;
            button{
                margin-right: 5px;
            }
        }
        .signout-buttons{
            margin: 10px 0px;
        }
        .username{
            font-size: 35px;
        }
        .email{
            font-size: 16px;
        }
        .content{
            padding: 0px 10px;
        }

    }

    #notebookPage {
        -webkit-app-region: no-drag;
        display: none;

        // padding-bottom: 30px;
        overflow-y: scroll;
        height: 100%;
        overflow-x: hidden;

        &.open {
            display: block;
        }

        .header{
            font-size: 14px;
            font-family: consolas,$consolas-mac, $ubuntu_mono_italic;
            background: $umbrella_secondary;
            color: white;
            font-style: italic;
            display: absolute;
            position: absolute;
            z-index: 10;
            padding: 5px 15px;
            border-bottom-right-radius: 5px;
            /* border-bottom-left-radius: 4px; */
            // border-top-right-radius: 4px;
        }

        .posts {
            .post {
                // background-color: $yellow;
                padding: 20px;
                // font-family: $sourceSansPro;
                font-family: consolas,$consolas-mac, $ubuntu_mono_italic;
                font-size: 18px;
                font-style: italic;
                position: relative;
                color: $white;
                .date {
                    // font-family: $sourceSansPro;
                    // font-style: normal;
                    font-size: 14px;
                    margin-top: 3px;
                    margin-bottom: 20px;
                }

                .time {
                    // font-family: $sourceSansPro;
                    // font-style: normal;
                    font-size: 14px;
                    margin-top: 10px;
                }

                h1, h2, h3, h4 {
                    font-family: $open_sans_light_italic;
                    font-style: normal;
                }

                p{
                    margin: 0;
                }

                .expandButton {
                    position: absolute;
                    top: 5px;
                    right: 7px;
                    cursor: pointer;
                    color: $white;

                    svg {
                        stroke-width: 1;
                        width: 20px;
                        height: 20px;
                    }
                }

                .box {
                    position: absolute;
                    display: none;
                    background-color: $black;
                    padding: 5px 0px;
                    border-radius: 4px;
                    top: 8px;
                    right: 31px;
                    min-width: 100px;
                    min-height: 70px;
                    flex-direction: column;
                    justify-content: center;

                    button {
                        background: none;
                        border: none;
                        display: block;
                        color: $white;
                        margin-top: 3px;
                        padding: 2px 0px;

                        &:hover {
                            background-color: $black2;
                        }
                    }

                    &.visible {
                        display: flex;
                    }
                }
            }
        }
    }
}

#homePage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#homePage::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

#homePage::-webkit-scrollbar-thumb {
    background-color: $umbrella_primary;
}

#quicknotesPage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#quicknotesPage::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

#quicknotesPage::-webkit-scrollbar-thumb {
    background-color: $umbrella_primary;
}

#settingsPage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#settingsPage::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

#settingsPage::-webkit-scrollbar-thumb {
    background-color: $umbrella_primary;
}

#notebookPage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

#notebookPage::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

#notebookPage::-webkit-scrollbar-thumb {
    background-color: $umbrella_primary;
}

#writePage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $white;
}

#writePage::-webkit-scrollbar {
    width: 7px;
    background-color: $white;
}

#writePage::-webkit-scrollbar-thumb {
    background-color: $umbrella_primary;
}

#editPage::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $white;
}

#editPage::-webkit-scrollbar {
    width: 7px;
    background-color: $white;
}

#editPage::-webkit-scrollbar-thumb {
    background-color: $umbrella_primary;
}

.options-menu {
    position: absolute;
    background: $white;
    color: $black;
    padding: 20px;
    border-radius: 2px;
    font-size: 14px;

    button {
        // display: block;
        background: transparent;
        border: none;
    }
}

.modal {
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &.open {
        z-index: 20;
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        min-height: 100%;
        top: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .body {
        
        border-radius: 3px;
        
        .close {
            position: relative;
            float: right;

            button {
                background: rgba(black, 0.3);
                border-radius: 50%;
                padding: 7px 9px;
                outline: none;
                border: none;

                svg {
                    position: relative;
                    width: 24px;
                    fill: white;
                    top: 2px;
                }

                &:hover {
                    background: rgba($blue, 0.8);
                }
            }
        }
    }
}

.modal {
    .body {
        min-width: 40%;
        min-height: auto;
        overflow: hidden;
        padding: 20px;
        background: $blue;
        color: $white;

        .close {
            button {
                &:hover {
                    background: $white;

                    svg {
                        fill: $blue;
                    }
                }
            }
        }

        .header {
            p {
                font-size: 30px;
            }
        }

        .form-group {
            margin-bottom: 10px;
        }

        .form-item {
            color: $white;

            &:hover {
                border-color: $lightgreen;
            }

            &:focus {
                border-color: $lightgreen;

                // background-color: $white;
                color: $white;
            }

            &:-webkit-autofill {
                background-color: $blue !important;
                color: $white !important;
            }
        }

        .btn1 {
            color: $white;
            border-color: $white;
            font-size: 14px;
            border: 2px solid;

            &:hover {
                border-color: $lightgreen;
                color: $lightgreen;
            }
        }

        .forgot-password {
            color: $lightlightgrey;
            margin-left: 10px;
        }
    }
}

.modal.signin, .modal.edit-notebook {
    .body {
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

        p {
            font-size: 18px;
        }
    }
    .btn3{
        max-width: 100%;
    }
}

.modal.create-notebook-modal {
    .body {
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        width: 60%;
        p {
            font-size: 18px;
        }

        .covers {
            h3 {
                font-size: 16px;
                font-family: "SourceSansPro-Regular", sans-serif;
            }

            ul {
                list-style-type: none;
                padding-left: 0;
                display: flex;
                overflow-x: scroll;
                height: 180px;
                flex-wrap: wrap;
            }

            ul::-webkit-scrollbar-track {
                background-color: transparent;
            }

            ul::-webkit-scrollbar {
                width: 7px;
                height: 7px;
                background-color: transparent;
            }

            ul::-webkit-scrollbar-thumb {
                background-color: $blue;
            }

            li {
                display: inline-block;
            }

            input[type="checkbox"][id^="cb"] {
                display: none;
            }

            label {
                // border: 1px solid transparent;
                padding: 10px;
                border-radius: 50%;
                display: block;
                position: relative;
                margin: 10px;
                cursor: pointer;
            }

            label:before {
                font-size: 14px;
                background-color: rgba(16, 65, 99, 0.6);
                text-align: center;
                color: white;
                content: " ";
                display: block;
                border-radius: 50%;

                /*   border: 1px solid grey; */
                position: absolute;
                top: 15px;
                left: 11px;
                z-index: 1;
                width: 100px;
                height: 100px;
                text-align: center;
                line-height: 100px;
                transition-duration: 0.4s;
                transform: scale(0);
            }

            label img {
                height: 100px;
                width: 100px;
                transition-duration: 0.1s;
                transform-origin: 50% 50%;
                border-radius: 50%;
            }

            :checked + label {
                // border-color: transparent;
           
            }

            :checked + label:before {
                content: "Selected";
                transform: scale(1.1);
            }

            :checked + label img {
                transform: scale(1.2);
                box-shadow: 0 0 3px #333;
                z-index: -1;
            }
        }
    }
}

// .create-notebook-modal {
//     display: none;

//     &.open {
//         display: flex;
//         position: fixed;
//         width: 100%;
//         height: 100%;
//         min-height: 100%;
//         top: 0px;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//     }

//     h1 {
//         font-size: 25px;
//     }

//     h3 {
//         font-size: 18px;
//     }

//     .body {
//         background: $white;
//         width: 70%;
//         min-height: 70%;
//         box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
//         box-shadow: 0px 0px 27px rgba(51, 143, 255, 0.5);
//         border-radius: 6px;
//         padding: 20px;

//         // overflow-y: scroll;
//         .close {
//             position: relative;
//             float: right;
//             margin-right: -7px;

//             button {
//                 background: rgba(black, 0.3);
//                 border-radius: 50%;
//                 padding: 9px 11px;
//                 outline: none;
//                 border: none;

//                 svg {
//                     position: relative;
//                     width: 24px;
//                     fill: white;
//                     top: 2px;
//                 }

//                 &:hover {
//                     background: rgba($blue, 0.8);
//                 }
//             }
//         }

//         .covers {
//             ul {
//                 list-style-type: none;
//                 padding-left: 0;
//                 display: flex;
//                 overflow-x: scroll;
//             }

//             ul::-webkit-scrollbar-track {
//                 background-color: $white;
//             }

//             ul::-webkit-scrollbar {
//                 width: 7px;
//                 height: 7px;
//                 background-color: $white;
//             }

//             ul::-webkit-scrollbar-thumb {
//                 background-color: $blue;
//             }

//             li {
//                 display: inline-block;
//             }

//             input[type="checkbox"][id^="cb"] {
//                 display: none;
//             }

//             label {
//                 border: 1px solid #fff;
//                 padding: 10px;
//                 border-radius: 50%;
//                 display: block;
//                 position: relative;
//                 margin: 10px;
//                 cursor: pointer;
//             }

//             label:before {
//                 font-size: 14px;
//                 background-color: rgba(16, 65, 99, 0.6);
//                 text-align: center;
//                 color: white;
//                 content: " ";
//                 display: block;
//                 border-radius: 50%;

//                 /*   border: 1px solid grey;
//                 position: absolute;
//                 top: 15px;
//                 left: 11px;
//                 z-index: 1;
//                 width: 100px;
//                 height: 100px;
//                 text-align: center;
//                 line-height: 100px;
//                 transition-duration: 0.4s;
//                 transform: scale(0);
//             }

//             label img {
//                 height: 100px;
//                 width: 100px;
//                 transition-duration: 0.1s;
//                 transform-origin: 50% 50%;
//                 border-radius: 50%;
//             }

//             :checked + label {
//                 border-color: #eee;
//             }

//             :checked + label:before {
//                 content: "Selected";
//                 transform: scale(1.1);
//             }

//             :checked + label img {
//                 transform: scale(1.2);
//                 box-shadow: 0 0 3px #333;
//                 z-index: -1;
//             }
//         }
//     }
// }

#cloud-save-modal {
    display: none;

    &.open {
        display: flex;
        position: fixed;
        width: 100%;
        height: 100%;
        min-height: 100%;
        top: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }

    .body {
        background: $white;
        width: 400px;
        height: 500px;
        min-height: 70%;
        box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 27px rgba(51, 143, 255, 0.5);
        border-radius: 6px;
        padding: 25px;

        .main {
            display: flex;
            height: 100%;
            flex-direction: column;

            h1 {
                font-size: 45px;
                margin-top: 80px;
                line-height: 1.2em;
            }

            .buttons {
                margin-top: 10px;
            }
        }

        // overflow-y: scroll;
        .close {
            position: relative;
            float: right;
            margin-right: -8px;
            margin-top: -8px;

            button {
                background: rgba(black, 0.3);
                border-radius: 50%;
                padding: 9px 11px;
                outline: none;
                border: none;

                svg {
                    position: relative;
                    width: 24px;
                    fill: white;
                    top: 2px;
                }

                &:hover {
                    background: rgba($blue, 0.8);
                }
            }
        }
    }

    .google-button {
        height: 40px;
        border-width: 0;
        background: white;
        color: #737373;
        border-radius: 5px;
        white-space: nowrap;
        box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
        transition-property: background-color, box-shadow;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
        padding: 0;

        &:focus,
        &:hover {
            box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
        }

        &:active {
            background-color: #e5e5e5;
            box-shadow: none;
            transition-duration: 10ms;
        }
    }

    .google-button__icon {
        display: inline-block;
        vertical-align: middle;
        margin: 8px 0 8px 8px;
        width: 18px;
        height: 18px;
        box-sizing: border-box;
    }

    .google-button__icon--plus {
        width: 27px;
    }

    .google-button__text {
        display: inline-block;
        vertical-align: middle;
        padding: 0 24px;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Roboto',arial,sans-serif;
    }
}

.postman, .raven {
    position: fixed;
    -webkit-app-region: no-drag;
    bottom: 0px;
    background: $umbrella_secondary;
    color: $white;
    margin: 20px;
    padding: 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: bounceOut;
    z-index: 100;

    &:hover {
        background: $umbrella_primary;
    }

    &.open {
        // display: block;
        animation-name: bounceIn;
    }

    .body {
        * {
            display: inline-block;
        }

        .emoji-text {
            margin-left: 10px;
            position: relative;
            bottom: 14px;
        }

        img {
            width: 40px;
        }
    }

    svg {
        width: 40px !important;
    }
}

.raven{
    background: $orange;
    color: $white;
    margin: 10px;
    padding: 10px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    animation-duration: .75s;
    animation-fill-mode: both;
    animation-name: bounceOut;
    z-index: 100;
    &:hover{
        background: $umbrella_secondary;
    }
    &.open {
        animation-name: bounceIn;
    }
}

@keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceOut {
    20% {
        transform: scale3d(0.9, 0.9, 0.9);
    }

    50%, 55% {
        opacity: 1;
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
}

//SPINNER

#loader{
    display: none;
    &.visible{
        display: block;
    }
}

.simply-straight .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
}

.simply-straight .spinner .points {
    margin: auto;
    color: #3498db;
}

.simply-straight .spinner .points label {
    font-size: 30px;
    margin-right: 5px;
    display: inline-block;
    opacity: 0;
}

@keyframes myAnimation {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        transform: translateX(0px);
    }

    66% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}

@-webkit-keyframes myAnimation {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-300px);
    }

    33% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    66% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateX(300px);
    }
}

.points label:nth-child(6) {
    -webkit-animation: myAnimation 3s infinite ease-in-out;
    animation: myAnimation 3s infinite ease-in-out;
}

.points label:nth-child(5) {
    -webkit-animation: myAnimation 3s 100ms infinite ease-in-out;
    animation: myAnimation 3s 100ms infinite ease-in-out;
}

.points label:nth-child(4) {
    -webkit-animation: myAnimation 3s 200ms infinite ease-in-out;
    animation: myAnimation 3s 200ms infinite ease-in-out;
}

.points label:nth-child(3) {
    -webkit-animation: myAnimation 3s 300ms infinite ease-in-out;
    animation: myAnimation 3s 300ms infinite ease-in-out;
}

.points label:nth-child(2) {
    -webkit-animation: myAnimation 3s 400ms infinite ease-in-out;
    animation: myAnimation 3s 400ms infinite ease-in-out;
}

.points label:nth-child(1) {
    -webkit-animation: myAnimation 3s 500ms infinite ease-in-out;
    animation: myAnimation 3s 500ms infinite ease-in-out;
}

button.update{
    background: transparent;
    border: none;
    color: white;
}