@font-face{
    font-family: SourceSerifPro;
    src: url('../fonts/Source_Serif_Pro/SourceSerifPro-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face{
    font-family: SourceSerifPro;
    src: url('../fonts/Source_Serif_Pro/SourceSerifPro-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face{
    font-family: SourceSerifPro;
    src: url('../fonts/Source_Serif_Pro/SourceSerifPro-Semibold.ttf') format('truetype');
    font-weight: 600;
}
#editPage, #writePage {
    form {
        .main-editor {
            font-family: SourceSerifPro, sans-serif;
            font-style: normal;
            font-size: 18px;
            h1,h2,h3,h4{
                font-family: SourceSerifPro, sans-serif;
            }
            strong{
                font-family: SourceSerifPro, sans-serif;
                font-weight: 700;
            }
        }
    }
}
#notebookPage {
    .posts {
        .post {
            font-family: SourceSerifPro, sans-serif;
            font-size: 18px;
            font-style: normal;
            .date {
                font-size: 16px;
            }

            .time {
                font-size: 16px;
            }

            h1, h2, h3, h4 {
                font-family: SourceSerifPro, sans-serif;
                font-style: normal;
            }

            
        }
    }
}