#editPage, #writePage {
    form {
        .main-editor {
            font-family: "times new roman", OpenSans, sans-serif;
            font-style: normal;
            font-size: 18px;
            h1,h2,h3,h4{
                font-family: "times new roman", 'SourceSansPro-Regular', sans-serif;
            }
            strong{
                font-family: "times new roman", OpenSans , sans-serif;
                font-weight: 700;
            }
        }
    }
}
#notebookPage {
    .posts {
        .post {
            font-family: "times new roman", 'SourceSansPro-Regular', sans-serif;
            font-size: 18px;
            font-style: normal;
            .date {
                font-size: 16px;
            }

            .time {
                font-size: 16px;
            }

            h1, h2, h3, h4 {
                font-family: "times new roman", 'SourceSansPro-Regular', sans-serif;
                font-style: normal;
            }

            
        }
    }
}